# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Operating System
Thumbs.db
.DS_Store